@import url("https://fonts.googleapis.com/css2?family=Gill+Sans&display=swap");

* {
  font-family: "Gill Sans", sans-serif;
}

body {
  background-color: #1f2a38;
  margin: 0; /* Removes default margin */
  padding: 0; /* Removes default padding */
  text-align: center;
}

button {
  background-color: #3498db; /* A pleasant blue */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
  margin-right: 10px; /* Adds space to the right of each button */
}

button:last-child {
  margin-right: 0; /* Removes right margin from the last button */
}

button:hover {
  background-color: #FF1493;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
