@keyframes moveGradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.dynamic-background {
  animation: moveGradient 10s ease infinite;
  background: linear-gradient(45deg, #6dd5ed, #2193b0, #6dd5ed);
  background-size: 200% 200%;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
}
