.csv-container {
  padding: 20px;
  text-align: center;
  position: relative;
  margin-top: 10rem;
  z-index: 1; /* Ensures this content is above the particles background */
}

.csv-container h1 {
  color: #FF1493; 
  margin-bottom: 10px;
}

.csv-container p {
  color: #FFC0CB; 
}


.background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; /* Places the particles behind other content */
}
