/* src/components/NavBar.css */

.nav {
  padding: 0.5rem 0.5rem;
  color: #2196f3;
}

.nav ul {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.nav a {
  color: #2196f3;
  text-decoration: none;
  padding: 0.5rem 0.5rem;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.nav a:hover {
  background-color: #ff5722; /* Deep Orange for hover state */
  padding: 0.5rem 0.5rem;
  color: #fff;
  border-radius: 2px;
}

.nav a:active {
  background-color: #ffc107; /* Amber for active state */
  color: #fff;
  border-radius: 2px;
}
