.search-box {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.search-box input {
  box-sizing: border-box;
  width: 240px;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
}

.map-selector-container {
  margin: auto; /* This centers the map in its parent container */
  position: center; /* Needed for absolute positioning of children */
}
