/* src/components/ExpenseEntry.css */

.expense-entry-form {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.expense-entry-form label {
  display: block;
  margin-bottom: 10px;
}

.expense-entry-form input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box; /* Makes sure padding doesn't add to width */
  text-align: center;
}

.expense-entry-form input[type="date"] {
  cursor: pointer;
}
