/* src/components/Expenses.css */

.expenses-container {
    margin-bottom: 10px;
    margin-top: 10px;
}

.expenses-container .button:hover {
    background-color: #FF1493;
}

.expenses-container .button.active {
    background-color: #FF1493;
    font-weight: bold;
}

/* Additional styling can be added as needed */
