/* src/components/Expenses.css */

.expenses-container {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.expenses-container .button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #7FB3D5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.expenses-container .button:hover {
    background-color: #F2F2F2;
}

.expenses-container .button.active {
    background-color: #647D91;
    border-width: 2rem;
    font-weight: bold;
}

/* Additional styling can be added as needed */
