/* src/components/ExpensesTable.css */

.list-expenses-table {
  width: 100%;
  border-collapse: collapse;
  max-width: 800px;
  margin: 10px auto;
  background-color: #f8f8f8;
}

.list-expenses-table thead {
  background-color: #ffc107;
  color: #1f2a38;
}

.list-expenses-table thead tr:hover {
  background-color: #ffc107; /* Keeps the background color the same on hover */
}

.list-expenses-table th,
.list-expenses-table td {
  border: 1px solid #ddd;
  padding: 3px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.list-expenses-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.list-expenses-table tr:hover {
  background-color: #ddd;
}

.list-expenses-table button {
  border: none;
  border-radius: 0px;
  cursor: pointer;
  padding: 2px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.date-column {
  width: 110px;
  text-align: center;
}

.description-column {
  text-align: left; /* Center align the contents */
}

.actions-column {
  width: 90px; /* Adjust as needed */
  text-align: center;
}
