.mileage-entry-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: auto; /* Centers the form */
  padding: 20px;
  font-weight: normal;
  color: #FFE066;
}

.mileage-entry-form label {
  font-weight: bold;
}

.mileage-entry-form input[type="date"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 0 5px;
}

.form-group p {
  font-weight: bold;
}

.form-group span {
  display: inline-block;
  margin-bottom: 5px;
}

.mileage-entry-form button {
  margin-top: 10px;
  margin-bottom: 10px;
}
