body {
    background-color: #1F2A38;
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    font-family: "Gill Sans", sans-serif; /* Sets the default font for the app */
  }