.mileage-container {
    margin-bottom: 10px;
    margin-top: 10px;
}

.mileage-container .button:hover {
    background-color: #FF1493;
}

.mileage-container .button.active {
    background-color: #FF1493;
    font-weight: bold;
}